.display{
    /* background-color: violet; */
    color:red;
    font-size: larger;
    text-align: center;
} 
.movieDetails{
    background-color: purple;
    display:grid;
    padding: 50px;
    margin: 20px 20px;
    color:yellow;
    text-align: center;
    border-radius: 50px;
}
.genre
{
    color:red;
}